:root {
  --primary-text-color: #757575; /* цвет абзацев #757575 */
  --title-text-color: #212121; /* цвет заголовков #212121 */
  --accent-color: #2196f3; /* цвет акцента #2196F3 */
  --primary-white-color: #ffffff; /* цвет фона, текста на темном фоне #FFFFFF 100%*/
  --logo-color: #000000;
  --footer-contacts-color: rgb(255, 255, 255, 0.6); /* цвет текста на темном фоне #FFFFFF 60%*/
  --third-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 1.71;
}

button {
  border: none;
  /* border: 1px solid transparent;??????? */
  border-radius: 4px;
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo span {
  color: var(--accent-color);
}

/* nav */
.nav {
  display: flex;
  height: 80px;
}

/* site nav & auth nav*/
.site-nav,
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  display: flex;
}

.site-nav .item + .item,
.auth-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav .link::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.hidden::after {
  transform: scaleX(0);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav .link.hidden:hover::after {
  transform: scaleX(1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item {
  display: flex;
}

.contact-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link:hover .contact-icon,
.auth-nav .link:focus .contact-icon {
  fill: var(--accent-color);
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center; /* позиция для фонового изображения */
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 200px;
  padding: 10px 32px 10px 32px;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-text-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* advantages */
.advantages.section {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
}

.advantages-list .item + .item {
  margin-left: 30px;
}

.advantages .section-title {
  display: none;
}

.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages .thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: var(--card-set-gap);
  background-color: var(--third-bg-color);
  border-radius: 4px;
}

.advantage-icon {
  --main-color: var(--title-text-color);
  --accent-color: var(var(--accent-color));
}

/* features */
.features-list {
  display: flex;
}

.features-list .item + .item {
  margin-left: var(--card-set-gap);
}

.feature-image {
  display: block;
}

.features-list .item {
  position: relative;
}

.feature-text-container {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.feature-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* team */
.team {
  background-color: var(--third-bg-color);
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: var(--card-set-gap);
}

.team-list .item {
  text-align: center;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  display: block;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-content {
  padding: 30px 32px 30px 32px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-icon {
  fill: var(--icon-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-white-color);
}

.social-list-item + .social-list-item {
  margin-left: 10px;
}

/* clients */
.clients-list {
  display: flex;
}

.clients-list .item {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.clients-list .item + .item {
  margin-left: var(--card-set-gap);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.address-container {
  margin-right: auto;
}

.footer p {
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-style: normal;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-contacts .link {
  display: block;
  color: var(--footer-contacts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts .link:first-child {
  margin-bottom: 9px;
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent-color);
}

.footer .social-icon {
  fill: var(--primary-white-color);
}

.footer-container {
  padding-top: 12px;
}

.footer-container.wellcome {
  margin-left: 70px;
}

.footer-container.subscribe {
  margin-left: 93px;
}

.subscribe .title {
  display: inline-block;
}

.footer-container .title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscribe input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px 15px 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe button {
  display: inline-flex;
  justify-content: center;
  width: 200px;
  padding: 10px 29px 10px 28px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}

.subscribe span {
  margin-right: 10px;
}

/* portfolio */
.portfolio-buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-button {
  padding: 6px 22px 6px 22px;
  background-color: var(--third-bg-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  cursor: pointer;
}

.portfolio-buttons .item + .item {
  margin-left: 8px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-cards .item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.portfolio-cards .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translate(0, 100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-thumb:hover .portfolio-overlay {
  transform: translate(0, 0);
}

.portfolio-cards .item:hover .portfolio-overlay,
.portfolio-cards .item:hover .portfolio-thumb .text {
  transform: translate(0, 0);
}

.portfolio-thumb .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);
}

.portfolio-image {
  display: block;
}

.portfolio-content {
  padding: 20px 24px 20px 24px;

  border: 1px solid #eeeeee;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;

  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.cross {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent-color);
}

.modal-close-btn:hover .cross,
.modal-close-btn:focus .cross {
  fill: blue;
}

.modal-form {
  width: 100%;
  height: 100%;
  padding: 40px 39px 40px 41px;
}

.modal-form h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field input {
  width: 100%;
  height: 40px;

  padding: 11px 12px 11px 42px;
  margin: 0;

  font-size: 14px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-field input:hover,
.form-field input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.input-container {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);

  fill: var(--title-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-field input:hover + .modal-icon,
.form-field input:focus + .modal-icon {
  fill: var(--accent-color);
}

.form-field.comment {
  margin-bottom: 20px;
}

.form-field textarea {
  padding: 12px 16px 12px 16px;
  height: 120px;
  resize: none;

  font-size: 14px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-field textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:hover,
.form-field textarea:focus {
  border-color: var(--accent-color);
}

.policy .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.policy label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 30px;
}

.policy .check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.policy .checkbox:checked + .check-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
  background-image: url('../images/icon-check.svg');
}

.policy a {
  text-decoration: underline;
  color: var(--accent-color);
}

.form-field .form-icon {
  position: absolute;
}

.form-field.submit {
  flex-direction: row;
  justify-content: center;
}

.form-submit-btn {
  padding: 10px 55px 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
