:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accents: #2196f3;
  --primary-bg-color: #2f303a;
  --portfolio-cards-gap: 30px;
  --fill-icon: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

/*======== CONTAINER ==========*/
.container {
  box-sizing: border-box;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list .current {
  color: var(--accents);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*======== END CONTAINER ==========*/

/*======== NAVIGATION ========*/

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-logo span {
  color: var(--accents);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item {
  position: relative;

  padding-top: 33px;
  padding-bottom: 31px;
}

.site-nav .link.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accents);

  margin-top: 28px;
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--accents);
}
/*======== END NAVIGATION ========*/

/*======== ADDRESS ========*/
.address-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.address-nav .item {
  display: flex;
  align-items: center;
}

.emailtel-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.address-nav .item:not(:last-child) {
  margin-right: 30px;
}

.nav-emailtel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  padding-top: 33px;
  padding-bottom: 31px;
}

.nav-emailtel:hover .emailtel-icon,
.nav-emailtel:focus .emailtel-icon {
  fill: var(--accents);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*======== END ADDRESS ========*/

/*======== MODAL WINDOW ========*/
.backdrop-service {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop-service.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;

  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon {
  fill: var(--accents);
}

.close-button:hover {
  border-color: var(--accents);
}
/*======== END MODAL WINDOW ========*/

/*======== FORM ========*/
.form {
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  padding: 40px 39px 40px 41px;
}

.form-title {
  display: inline-block;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 11px 42px;

  height: 40px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--accents);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accents);
}

.form-field textarea:hover,
.form-field textarea:focus {
  border-color: var(--accents);
}

.form-field svg {
  position: absolute;
  top: 50%;
  left: 12px;
}

textarea {
  resize: none;

  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
  display: flex;
  align-items: center;

  margin-top: 20px;
  padding-left: 12px;
}

.form-agreement input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */
}

.form-agreement .icon {
  display: block;
  width: 16px;
  height: 15px;

  border: solid 2px #252121;
  border-radius: 2px;

  margin-right: 9px;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement input[type="checkbox"]:checked + .icon {
  background-color: var(--accents);
  background-image: url("../images/check-icon.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accents);
}

.form-agreement-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-agreement a {
  text-decoration-line: underline;
  color: var(--accents);
}

.form-button {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.form button {
  display: block;
  width: 200px;
  height: 50px;

  background: var(--accents);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;
}
/*======== END FORM ========*/

/*======== HERO ========*/
.hero {
  background-color: var(--primary-bg-color);
  padding-bottom: 200px;
  padding-top: 200px;

  background-color: var(--primary-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  text-align: center;
}

.hero-title {
  display: inline-block;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 136px;
  min-height: 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background: var(--accents);

  border-radius: 4px;
  border-width: 0px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
/*======== END HERO ========*/

/*======== FEATURES ========*/
.features {
  padding-bottom: 94px;
  padding-top: 94px;
}
.features-card-set {
  display: flex;
  justify-content: space-between;
}

.features-card-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
}

.features-card-icon {
  width: 70px;
  height: 70px;
}

.features-card-set .item:not(:last-child) {
  margin-right: 30px;
}
/*======== END FEATURES ========*/

/*======== ABOUT ========*/
.about {
  padding-bottom: 94px;
}

.about-card-set {
  display: flex;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
}

.about-card-set .item {
  position: relative;

  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap) ;);
  margin-left: var(--portfolio-cards-gap);
}

.title {
  margin-bottom: 50px;
}

.title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.about-text {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.about-text p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/*======== END ABOUT ========*/

/*======== TEAM ========*/
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background: #f5f4fa;
}

.team-card-set {
  display: flex;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
}

.team-card-set > .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap) ;);
  margin-left: var(--portfolio-cards-gap);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  text-align: center;
}

.team-title {
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  justify-content: space-between;

  padding: 16px 32px 30px 32px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--fill-icon);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accents);
}
/*======== END TEAM ========*/

/*======== CLIENTS ========*/
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-card-set {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: var(--fill-icon);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accents);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accents);
}
/*======== END CLIENTS ========*/

/*======== FOOTER ========*/
.footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  display: flex;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo span {
  color: var(--accents);
}

.footer-list-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-emailtel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map {
  display: inline-block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-title {
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.footer-list-item:first-child {
  margin-right: 70px;
}

.footer-list-item:nth-child(2) {
  margin-right: 93px;
}

.footer-list .social-list {
  display: flex;
  padding: 0px;
}

.footer-list-item .social-list .item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-item .social-list-link {
  background: rgba(255, 255, 255, 0.1);

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item .social-list-icon {
  fill: #ffffff;
}

.footer-list-item .social-list-link:hover,
.footer-list-item .social-list-link:focus {
  background: var(--accents);
}
/*======== END FOOTER ========*/

/*========== FOOTER FORM =========*/

.footer-form {
  width: 574px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding: 15px 16px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  background: var(--accents);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.footer-form-button::after {
  content: "";
  display: block;

  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url("../images/send-icon.svg");
  background-size: contain;
}

/*========== END FOOTER FORM =========*/

/*======== PORTFOLIO BUTTONS ========*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-button-set {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-button {
  padding: 6px 22px;
  min-width: 38px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  text-align: center;

  border: none;
  border-radius: 4px;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button-set .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accents);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*======== END PORTFOLIO BUTTONS ========*/

/*======== PORTFOLIO CARDS ========*/

.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--portfolio-cards-gap));
}

.portfolio-card-set .item {
  outline: 1px solid #eeeeee;

  margin-top: var(--portfolio-cards-gap);
}

.portfolio-card-set .item:not(:nth-child(3n + 1)) {
  margin-left: var(--portfolio-cards-gap);
}

.portfolio-card:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-card-set .item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-card-content {
  padding: 20px 24px;
  background-color: #ffffff;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-card-thumb {
  position: relative;

  overflow: hidden;
}

.portfolio-card-thumb::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;

  position: absolute;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:focus .portfolio-card-thumb::before,
.portfolio-card-link:hover .portfolio-card-thumb::before {
  opacity: 1;

  transform: translateY(0%);
}

.portfolio-actions {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;

  padding: 63px 24px 63px 24px;

  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover .portfolio-actions,
.portfolio-card-link:focus .portfolio-actions {
  opacity: 1;

  transform: translateY(0%);
}
/*======== END PORTFOLIO CARDS ========*/
