$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$third-bg-color: #f5f4fa;
$secondary-bg-color: #2f303a;
$icon-color: #afb1b8;
$card-set-gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 1.71;
}

button {
  border: none;
  border-radius: 4px;
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  color: $logo-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  &--accent {
    color: $accent-color;
  }
}

/* nav */
.nav {
  display: flex;
  height: 80px;
}

/* site nav & auth nav*/
.site-nav,
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  display: flex;

  & + & {
    margin-left: 50px;
  }
}

.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    content: '';
    height: 4px;
    width: 100%;
    border-radius: 2px;

    background-color: $accent-color;
  }

  &.current {
    color: $accent-color;
  }

  &.hidden::after {
    transform: scaleX(0);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
  }

  &.hidden:hover::after {
    transform: scaleX(1);
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

/* auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item {
  display: flex;

  & + & {
    margin-left: 50px;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: $primary-text-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    fill: $accent-color;
  }
}

.auth-nav__link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center; /* позиция для фонового изображения */
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: $primary-white-color;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px 10px 32px;
  text-align: center;

  background-color: $accent-color;
  color: $primary-white-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: $title-text-color;
}

.section__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* advantages */
.advantages {
  &.section {
    padding-bottom: 0;
  }

  & .section__title {
    display: none;
  }
}

.advantages__list {
  display: flex;
}

.advantages__item {
  & + & {
    margin-left: 30px;
  }
}

.advantages__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: $card-set-gap;
  background-color: $third-bg-color;
  border-radius: 4px;
}

.advantage__icon {
  --main-color: #212121;
  --accent-color: #2196f3;
}

/* features */
.features__list {
  display: flex;
}

.features__item {
  position: relative;

  & + & {
    margin-left: $card-set-gap;
  }
}

.features__image {
  display: block;
}

.features__container {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.features__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primary-white-color;
}

/* team */
.team {
  background-color: $third-bg-color;
}

.team__list {
  display: flex;
}

.team__item {
  text-align: center;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  & + & {
    margin-left: $card-set-gap;
  }
}

.team__image {
  display: block;
}

.team-content {
  padding: 30px 32px 30px 32px;
}

.team-content__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* social-list */
.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  & + & {
    margin-left: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social__icon {
  fill: $icon-color;

  .social__link:hover &,
  .social__link:focus & {
    fill: $primary-white-color;
  }
}

/* clients */
.clients__list {
  display: flex;
}

.clients__item {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;

  & + & {
    margin-left: $card-set-gap;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.clients__icon {
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bg-color;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.address-container {
  margin-right: auto;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $primary-white-color;
}

.footer__text {
  margin-bottom: 9px;
  color: $primary-white-color;
  font-style: normal;
}

.footer-contacts__link {
  display: block;
  color: $footer-contacts-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  &:first-child {
    margin-bottom: 9px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social__icon {
  fill: $primary-white-color;
}

.footer-container {
  padding-top: 12px;
}

.footer-container__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}

.footer-subscribe {
  margin-left: 93px;
}

.subscribe-form__title {
  display: inline-block;
}

.subscribe-form__email {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px 15px 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-form__button {
  display: inline-flex;
  justify-content: center;
  width: 200px;
  padding: 10px 29px 10px 28px;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $primary-white-color;
}

.subscribe-form__text {
  margin-right: 10px;
}

/* portfolio-filter */
.portfolio-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-filter__item {
  & + & {
    margin-left: 8px;
  }
}

.portfolio-filter__button {
  padding: 6px 22px 6px 22px;
  background-color: $third-bg-color;
  color: $title-text-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* portfolio-set */
.portfolio-set {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * #{$card-set-gap});
  margin-top: calc(-1 * #{$card-set-gap});
}

.portfolio-set__item {
  margin-left: $card-set-gap;
  margin-top: $card-set-gap;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translate(0, 100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  .portfolio-set__item:hover & {
    transform: translate(0, 0);
  }

  .portfolio-thumb:hover & {
    transform: translate(0, 0);
  }
}

.portfolio-thumb__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  font-size: 18px;
  line-height: 1.56;

  color: $primary-white-color;

  .portfolio-set__item:hover & {
    transform: translate(0, 0);
  }
}

.portfolio-thumb__image {
  display: block;
}

.portfolio-content {
  padding: 20px 24px 20px 24px;

  border: 1px solid #eeeeee;
}

.portfolio-content__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-content__text {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.9;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $primary-white-color;

  transform: translate(-50%, -50%) scale(1);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;

  background-color: $primary-white-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.cross-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  .close-button:hover &,
  .close-button:focus & {
    fill: $accent-color;
  }
}

.modal-form {
  width: 100%;
  height: 100%;
  padding: 40px 39px 40px 41px;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: $title-text-color;
}

.form-field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  &.comment {
    margin-bottom: 20px;
  }

  &.submit {
    flex-direction: row;
    justify-content: center;
  }
}

.form-field__title {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field__input {
  width: 100%;
  height: 40px;

  padding: 11px 12px 11px 42px;
  margin: 0;

  font-size: 14px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    cursor: pointer;
  }
}

.input-container {
  position: relative;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);

  fill: $title-text-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  .form-field__input:hover + &,
  .form-field__input:focus + & {
    fill: $accent-color;
  }
}

.form-field__textarea {
  padding: 12px 16px 12px 16px;
  height: 120px;
  resize: none;

  font-size: 14px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.policy__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.policy__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 30px;
}

.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;

  .policy__checkbox:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
    background-origin: border-box;
    background-image: url('../images/icon-check.svg');
  }
}

.policy__link {
  text-decoration: underline;
  color: $accent-color;
}

.submit__button {
  padding: 10px 55px 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
