.footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  @extend %list;
  display: flex;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo span {
  color: var(--accents);
}

.footer-list-contacts {
  @extend %list;
}

.footer-list-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-emailtel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map {
  display: inline-block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-title {
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.footer-list-item {
  &:first-child {
    margin-right: 70px;
  }

  &:nth-child(2) {
    margin-right: 93px;
  }
}

.social-list {
  @extend %list;
}

.footer-list .social-list {
  display: flex;
  padding: 0px;
}

.footer-list-item .social-list .item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-item .social-list-link {
  background: rgba(255, 255, 255, 0.1);

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accents);
  }
}

.footer-list-item .social-list-icon {
  fill: #ffffff;
}
